# NOTE: no sensitive information should be put in frontend/.env. Keys can be extracted from the Flutter app.
# This only exists for convenience.

# If you adjust SV_PORT in backend/.env, you must change the port on this URL, too.
# 10.0.2.2 is the android emulator default, routes to your pc's localhost.
API_BASE_URL=http://10.0.2.2:5000