# Backend server port
SV_PORT=5000

# Postgres database keys
PGUSER="postgres"
PGPASSWORD="postgres"
PGDATABASE="the_coop"
# If there are any issues with database setup, try changing the port number to 5433 or similar, or check for pg services running
PGPORT="5433"
PGHOST="127.0.0.1"

# If you adjust any database values, you MUST make sure DATABASE_URL reflects these changes, or else db setup won't work
# postgres://{PGUSER}:{PGPASSWORD}@{PGHOST}:{PGPORT}/{PGDATABASE}?schema=public
DATABASE_URL="postgres://postgres:postgres@127.0.0.1:5433/the_coop?schema=public"